/* Layout global */
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.fixed-top-spacer {
  color: rgba(0,0,0,0);
  padding-bottom: 2rem;
}

.header-menu {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media screen and (min-width: 768px) {
  .footer .footer-content {
    padding-top: 4em;
  }

  .footer-center {
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }

  .footer-fige {
    bottom: 0px;
    position: absolute;
  }

  .header-menu .menu-right {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .millegrille-footer {
    padding-top: 0.5em;
  }

  .footer-right {
    text-align: center;
    padding-top: 0.5em;
  }
}

.contenu {
  margin-top: 5em;
}

/* Footer */
.footer {
  width: 100%;
  margin-top: 3em;
  padding: 1em;
  padding-bottom: 0.5em;
  min-height: 4em;
  color: White;
}

.footer H2 {
  font-size: 1.25rem;
  font-family: "Tahoma", sans-serif;
}

.footer div.row {
  padding-left: 1em;
  padding-right: 1em;
}

.footer A, .footer A:visited {
  color: White;
  text-decoration: underline;
}

.footer footer-content {
  padding-top: 4em;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Tahoma", sans-serif;
}

/* Couleurs */
.securite-protege {
  color: #155724;
  /* background-color: #d4edda;
  border-color: #c3e6cb; */
}

.securite-prive {
  color: #1b1e21;
  /* background-color: #d6d8d9;
  border-color: #c6c8ca; */
}

.securite-public {
  color: #721c24;
  /* background-color: #f8d7da;
  border-color: #f5c6cb; */
}

.invisible {
  Filter: Alpha(Opacity=0)
}
